.vscode/**
.vscode-test/**
.claude/**
.github/**
src/**
out/**
node_modules/**
scripts/**
resources/icon-option*.svg
resources/preview.html
.gitignore
.yarnrc
.env
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
